@use '../core/mixins';

:root {
	--waves-display--font-family: var(--wp--preset--font-family--open-sans);
}

* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	box-sizing: border-box;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
}

// :where(.wp-block-group.has-background) {
// 	padding: 1.25em var(--wp--custom--spacing--outer);
// 	// @media (min-width: 650px) {
// 	// 	padding: 1.25em 2.375em;
// 	// }
// }

img {
	&[loading="lazy"] {
		opacity: 0;
		transition: opacity 0.2s;
	}
	&.has-loaded {
		opacity: 1;
	}
}

input[type="submit"],
button {
	@include mixins.button;
}