// .wp-block-navigation__responsive-container-content {
// 	.wp-block-navigation__container {
// 	}
// }

.wp-block-navigation {
	.wp-block-navigation__container {
		& > .wp-block-navigation-item {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.has-child {
			.wp-block-navigation__submenu-container {
				left: -16px !important;
				transform: none;
				min-width: 180px !important;
				border: 0 none;
				background: var(--wp--preset--color--background);
				padding: 6px;
				border-radius: 5px;
				// padding-bottom: 6px;
				.wp-block-navigation-item {
					@media( hover: hover ) {
						&:hover {
							.wp-block-navigation-item__content {
								background: var(--wp--preset--color--primary-1);
								color: #fff;
							}
						}
					}
				}
				.wp-block-navigation-item__content {
					justify-content: flex-start;
					transition: all 0.2s;
					border-radius: 3px;
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}
}